<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% for (let iCount = 0; iCount < name.length; iCount++) { %>
  <label><%= name[iCount].first_name %> <%= name[iCount].last_name %></label>
  <br><br>
  <% } %>
</body>

</html>